@using BOL;

<h1><center>Delete Employee</center></h1>

<form action="/Home/Delete" method="post">

    Enter the Fire ID Fire to delete: <input type="text" id="del" name="delId" v />
    <button type="submit" class="btn btn-primary">Fire</button>
</form>




