<h1><center>Update Employee</center></h1>


<form action="/Home/UpdateEmployee" method="post">

    Enter the id to Update the Employee: <input type="number" id="upId" name="id" />
    <button type="submit" class="btn btn-primary">Update</button>

</form>


